<header [name]="'Customer Information'"></header>
<div style="height: calc(100% - 50px);">
    <form [formGroup]="CustomerForm" (ngSubmit)="save(CustomerForm.value)">

        <div style="text-align: center; padding: 15px 10px 0 10px;">
            <label class="labelStyle">Customer Info</label>
        </div>
        <div class="formStyle">
            <div style="width: 45%;">
                <mat-form-field style="width: 100%;">
                    <mat-label>Full Name</mat-label>
                    <input matInput placeholder="Ex. Rony El Weter" formControlName="fullName">
                </mat-form-field>
            </div>
            <div style="width: 45%;">
                <mat-form-field style="width: 100%;">
                    <mat-label>ID Card #</mat-label>
                    <input matInput placeholder="Ex. A1515615115" formControlName="idCard">
                </mat-form-field>
            </div>
        </div>

        <div style="text-align: center; padding: 15px 10px 0 10px;">
            <label class="labelStyle">Account Info</label>
        </div>
        <div class="formStyle">
            <div style="width: 45%;">
                <mat-form-field style="width: 100%;">
                    <mat-label>Account Name</mat-label>
                    <input matInput placeholder="Ex. Fresh Dollar" formControlName="accountName">
                </mat-form-field>
            </div>
            <div style="width: 45%;">
                <mat-form-field style="width: 100%;">
                    <mat-label>Amount</mat-label>
                    <input matInput #initAmt placeholder="Ex. 1000" type="number" formControlName="initialAmount">
                    <span matTextSuffix>USD</span>
                </mat-form-field>
            </div>
        </div>

        <div style="display: flex; justify-content: space-around; padding: 35px 10px 0 10px;">
            <div class="btnPosition">
                <button class="btnCancel" (click)="cancel()">Cancel</button>
            </div>
            <div class="btnPosition">
                <button class="btnSave" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>