<loader *ngIf="loader"></loader>
<header [name]="'Customers'"></header>
<div style="height: calc(100% - 50px);">
    <div style="display: flex; justify-content: space-between; padding: 15px 10px 0 10px;">
        <div style="width: 70%;">
            <form [formGroup]="SearchForm">
                <input type="text" placeholder="Search by name..." formControlName="search" class="inputClass">
            </form>
        </div>
        <div style="width: 25%;
        text-align: end;">
            <button (click)="createCutomer()" class="btn">New</button>
        </div>
    </div>
    <div style="padding: 15px 10px 0 10px;">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="customerId">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element" style="font-family: sans-serif;"
                    (click)="updateCustomer(element)"> {{element.customerId}} </td>
            </ng-container>

            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef> Full Name </th>
                <td mat-cell *matCellDef="let element" style="font-family: sans-serif;"
                    (click)="updateCustomer(element)"> {{element.fullName}} </td>
            </ng-container>

            <ng-container matColumnDef="idCard">
                <th mat-header-cell *matHeaderCellDef> ID Card # </th>
                <td mat-cell *matCellDef="let element" style="font-family: sans-serif;"
                    (click)="updateCustomer(element)"> {{element.idCard}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"
                style="font-size: 20px; font-family: sans-serif; color: white; background-color: #0072bb;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tabRow"></tr>
        </table>
    </div>
</div>